#!/bin/bash
# Description: Env file for askchat.
# Current version: 0.1.1

# The base url of the API (without suffix /v1)
OPENAI_API_BASE_URL='localhost:8000'

# Your API key
OPENAI_API_KEY='EMPTY'

# The model name.
# You can use `askchat --all-valid-models` to see the valid models
OPENAI_API_MODEL='baichuan2'

